__pycache__/
*.pyc
*.pyo
*.bak
*.before_*
*.backup_*
*.after_*
backups/
library_imports/
instance/
*.zip
database/*.db
database/*.key
src.before_*/
frontend.before_*/
backend.before_*/
translations.before_*/
images.before_*/

*.txt
!requirements.txt
